<mat-toolbar><span class="centered">Shops</span></mat-toolbar>
<div class="container">
  <table>
    <tr>
      <th>
        <mat-form-field>
          <input matInput (keyup)="brandFilter($event.target.value)" placeholder="Brand">
        </mat-form-field>
      </th>
      <th>
        <mat-form-field>
          <input matInput (keyup)="locFilter($event.target.value)" placeholder="Location">
        </mat-form-field>
      </th>
    </tr>
  </table>

  <!-- <mat-form-field> -->
    <!-- <input matInput (keyup)="brandFilter($event.target.value)" placeholder="Brand"> -->
  <!-- </mat-form-field> -->
  <!-- <br> -->
  <!-- <mat-form-field> -->
    <!-- <input matInput (keyup)="locFilter($event.target.value)" placeholder="Location"> -->
  <!-- </mat-form-field> -->
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!--- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let shop">{{ shop.name }}</td>
    </ng-container>

    <!--- Brand Column -->
    <ng-container matColumnDef="brand">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Brand</th>
      <td mat-cell *matCellDef="let shop">{{ shop.brand }}</td>
    </ng-container>

    <!--- Address Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let shop">{{ shop.address }}</td>
    </ng-container>

    <!--- Link Column -->
    <ng-container matColumnDef="_id">
      <th mat-header-cell *matHeaderCellDef>Prices</th>
      <td mat-cell *matCellDef="let shop">
        <button mat-icon-button routerLink="/shops/{{ shop._id }}">
          <mat-icon>arrow_right_alt</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
</div>
