<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css' type='text/css' />
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.0.1/mapbox-gl-geocoder.js'></script>

<!-- Turf.js plugin -->
<script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>

<mat-sidenav-container class='sidenav-shops'>
  <mat-sidenav #sidenav mode='side'>
    <button mat-icon-button (click)='sidenav.toggle()'><mat-icon>menu</mat-icon></button>
    <ul class='shop-list'>
      <li *ngFor='let shop of shoplist'>
        <div id='listing-{{shop.id}}'>
          <span>{{ shop.name }}</span>
        </div>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <div id='map' class='map pad2'>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

