.centered {
  padding: 100px 0;
}

.login {
  margin: auto;
  width: 30%;
  text-align: center;
}

.toolbar {
  margin: auto;
  width: 30%;
  text-align: center;
}

.form-element {
  padding: 10px 5px 0px 5px;
  width: 100%;
}

.jumbotron {
  margin: 0 auto;
}
