section div:nth-child(1), section div:nth-child(3){
    color: DarkRed;
    font-size: 40px;
}
 
section div:nth-child(1){
    margin-top: 50px;
}
 
section div:nth-child(2){
    width: 10%;
    margin: 0 auto;
}
