.centered {
  padding: 100px 0;
}

.login {
  margin: auto;
  width: 30%;
  text-align: center;
}

.form-element {
  padding: 50px 2px 0px 2px;
  width: 50% !important;
  margin: 0 auto;
}

.back-error {
  width: 100%;
  color: DarkRed;
  font-style: italic;
  padding: 0px 0px 50px 0px;
}

.spinner {
  width: 10% !important;
}

.jumbotron {
  margin: 0 auto;
}
