<div class="centered">
  <mat-card class="login">
    <mat-toolbar color="primary"><span class="jumbotron">Login</span></mat-toolbar>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="form-element">
          <mat-label>Username</mat-label>
          <input matInput placeholder="username" formControlName="username" required>
          <mat-error *ngIf="!form.controls['username'].valid && form.controls['username'.touched]">Field required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-element">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="password" formControlName="password" required>
          <mat-error *ngIf="!form.controls['password'].valid && form.controls['password'].touched">
            {{ getPassError() }}
          </mat-error>
        </mat-form-field>

        <div class="form-element">
          <table style="width: 100%">
            <tr>
              <th><button mat-raised-button color="primary" type="submit" class="button" [disabled]="!form.valid">Login</button></th>
              <th><button mat-raised-button color="accent" type="submit" class="button" routerLink="/signup">Sign Up</button></th>
            </tr>
          </table>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
