.centered {
  padding: 100px 0;
}

.login {
  margin: auto;
  width: 30%;
  text-align: center;
}

.form-element {
  padding: 50px 2px 0px 2px;
  width: 50%;
  margin: 0 auto;
}

.jumbotron {
  margin: 0 auto;
}
