<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row class="container">
      <span class="logo">SaikoFuel</span>
      <div fxFlex fxLayout fxLayoutAlign="end">
        <ul fxLayout fxLayoutGap="20px" class="nav-items">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/products">Products</a></li>
          <li *ngIf="!auth.isLoggedIn()">
            <button mat-raised-button routerLink="/login" color="accent">Login</button>
          </li>
          <li *ngIf="auth.isLoggedIn()">
            <button mat-raised-button color="accent" (click)="logout()">Logout</button>
          </li>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
