<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row class="container">
      <span class="logo">SaikoFuel</span>
      <div fxFlex fxLayout fxLayoutAlign="end">
        <ul fxLayout fxLayoutGap="20px" class="nav-items">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/products">Products</a></li>
          <li><a routerLink="/shops">Shops</a></li>
          <li>
            <button mat-raised-button routerLink="/sign-in" color="accent">Sign In</button>
          </li>
          <li><a routerLink="/signup">Sign Up</a></li>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
