/* You can add global styles to this file, and also import other style files */

body, html {
    height: 100%;
    margin: 0 auto;
}

body {
    font-family: Helvetica;
    font-size: 1.4em;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1.2em;
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: 100% auto;

    a {
        color: white;
    }

}

section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}



