/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding: 0;
  width: 180px;
  position: "absolute";
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.mapboxgl-popup-tip {
  color: #91c949;
}

.mapboxgl-popup-content {
  h3 {
    background: #91c949;
    color: #fff;
    margin: 0;
    display: block;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    margin-top: 0px;
  }
  h4 {
    margin: 0;
    display: block;
    padding: 10px;
    font-weight: 400;
  }
  div {
    padding: 10px;
  }
}

.mapboxgl-container .leaflet-marker-icon {
  cursor: pointer;
}

.mapboxgl-popup-anchor-top > {
  .mapboxgl-popup-content {
    margin-top: 15px;
  }
  .mapboxgl-popup-tip {
    border-bottom-color: #91c949;
  }
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: #91c949;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: #91c949;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: #91c949;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: #91c949;
}

.mapboxgl-ctrl-geocoder {
  border: 0;
  border-radius: 0;
  position: relative;
  top: 0;
  width: 800px;
  margin-top: 100;
  > div {
    min-width: 100%;
    margin-left: 0;
  }
}
