.centered {
  margin: 0 auto;
}

.mat-column-name {
  width: 20% !important;
}

.mat-column-category {
  width: 20% !important;
}

.mat-column-description {
  word-wrap: break-word !important;
  white-space: unset !important;
}
